.App {
  text-align: center;
  background: url(./bg1.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: DarkGreen;
  background-color: rgba(255, 255, 255, 0.7);
  width: 60%;
  margin: 20px 20%;
  border-radius: 20px;
  padding: 10px;
}

.App-link {
  color: #09d3ac;
}

.palette-tile {
  width: 206px;
  height: 55px;
  -webkit-mask-image: url(./brush.png);
  mask-image: url(./brush.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  line-height: 20px;
  padding-top:6px;
  display: inline-block;
}

.flex-row {
  display: flex;
  flex-flow: row;
  min-width: 20vw;
}

@media (max-width: 700px) {
  .flex-row {
    display: block;
  }
}

.alpha, .lightDark {
  flex: 1;
}

.stackVert {
  display: block;
}

.satPie {
  flex: 3;
  max-width: 70vmin;
}

input {
  font: inherit;
}

.react-switch {
  top: 5px;
}

.palette-search {
  margin: 20px;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 5px;
}
